<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<alias name="Type1" alias="t1" />
	<alias name="Type2" alias="t2" />
	<alias name="Type3" alias="t3" />
	<bean id="Type1" class="com.daneking.springboot.strategy.Type1"/>
	<bean id="Type2" class="com.daneking.springboot.strategy.Type2"/>
	<bean id="Type3" class="com.daneking.springboot.strategy.Type3"/>
</beans>